<!-- Title -->
<div class="title">
  <h3>Product Management</h3>
</div>

<div class="refresh">
  <!-- Refresh Button -->
  <button (click)="fetchProducts()">Refresh</button>
</div>
<div class="successMessage" *ngIf="submitted">
  <p>Product Added Successfully!</p>
</div>

<div class="main-wrapper">

  <!-- The Product Registration Form -->
  <div class="main-container">
    <form #product="ngForm" (ngSubmit)="onProductAdd(product.value)">
      <div class="form-content">
        <div class="form-group">
          <label for="productname">Product Name </label>
          <input type="text" name="prodname" id="productname" placeholder="Product Name" ngModel required #name="ngModel">
          <span *ngIf="name.invalid && name.touched">Product name is required!</span>
        </div>
    
        <div class="form-group">
          <label for="producttype">Product Type </label>
          <input type="text" name="prodtype" id="producttype" placeholder="Product Type" ngModel required #prodtype="ngModel">
          <span *ngIf="prodtype.invalid && prodtype.touched">Product Type is required!</span>
        </div>
    
        <div class="form-group">
          <label for="model">Model </label>
          <input type="text" name="model" id="model" placeholder="Product Model" ngModel required #model="ngModel">
          <span *ngIf="model.invalid && model.touched">Model is required!</span>
        </div>
    
        <div class="form-group">
          <label for="serial">Serial </label>
          <input type="text" name="serial" id="serial" placeholder="Product Serial" ngModel required #serial="ngModel">
          <span *ngIf="serial.invalid && serial.touched">Serial is required!</span>
        </div>
    
        <div class="form-group">
          <label for="status">Status </label>
          <select name="status" id="status" ngModel required #status="ngModel">
            <option *ngFor="let stat of state" [value]="stat">{{stat}}</option>
          </select>
          <span *ngIf="status.invalid && status.touched">Status is required!</span>
        </div>  
  
        <div class="form-group">
          <input type="submit" value="{{editMode ? 'Update' : '+ Add'}}" [disabled]="!product.form.valid">
        </div>
  
      </div>
    </form>
  </div>

  <!-- The Product View Table -->
  <div class="product-table">
    <table>
      <th>#</th>
      <th>Product Name</th>
      <th>Product Type</th>
      <th>Model</th>
      <!-- <th>Serial</th>
      <th>Status</th>
      <th colspan="2" style="text-align: center;">Action</th> -->
      <tr *ngIf="Allproducts.length < 1 && !isFetching">
        <td colspan="7" class="noborder">No products are available!</td>
      </tr>
      <tr *ngIf="isFetching && !Allproducts.length">
        <td colspan="7" class="noborder">Loading....</td>
      </tr>
      <tr *ngFor="let prod of Allproducts; index as i" (click)="showDetails(prod)"
      [ngClass]="{'highlight': rowClicked == prod}">
        <td>{{ i + 1 }}</td>
        <td>{{ prod.prodname }}</td>
        <td>{{ prod.prodtype }}</td>
        <td>{{ prod.model }}</td>
      </tr>
    </table>
  </div>
  <!-- right nav -->
  <nav *ngIf="showMe">
    <div class="nav-title">
      <h4><strong>Details</strong></h4>
      <span (click)="onClose()">X</span>
    </div>
    <hr>
    <h4 class="det-title">Product Details</h4>
    <div class="prod-details">
      <p><strong>Name: </strong>{{prod.prodname}}</p>
      <p><strong>Type: </strong>{{prod.prodtype}}</p>
      <p><strong>Model: </strong>{{prod.model}}</p>
      <p><strong>Serial: </strong>{{prod.serial}}</p>
      <p><strong>Status: </strong>{{prod.status}}</p>
    </div>
    <h4 class="det-title">Actions</h4>
    <div class="action-details">
      <button class="editbtn" (click)="onEditClick(prod.id!)">Edit</button>
      <button class="deletebtn" (click)="onDeleteProduct(prod.id!)">Delete</button>
    </div>
  </nav>
</div>